<!-- carousel -->
<section class="bg-gaap">
  <div class="py-5 container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center">
        <!-- b -->
        <button class="carousel-control-prev me-5 col-2 d-none d-md-block rounded-circle" type="button"
          data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <!-- c -->
        <div id="carouselExampleAutoplaying" class="carousel slide col-md-8" data-bs-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                  <img src="/assets/cars2.jpg" class="d-block w-100 car-shadow" alt="...">
                </div>
                <div class="col-md-6 px-md-5 ">
                  <div class="d-flex flex-column car-text">
                    <!-- tag -->
                    <div class="col">
                      <div class="text-uppercase g-subtext fw-bolder fs-6">latest post</div>
                    </div>
                    <!-- body -->
                    <div class="col">
                      <div class="d-flex flex-column car-inner-txt">
                        <div class="text-black text-uppercase fw-bold fs-1">CPA WRITERS WANTED</div>
                        <div class="text-muted fs-6">CPA Writers Wanted TheGAAP.net is looking for volunteer writers to
                          contribute to our dally updates of accounting information trends and changes in accounting.
                          Earn CPD..</div>
                        <div class="fw-medium fs-6 g-subtext">March 4, 2024 / Accounting</div>
                      </div>
                    </div>
                    <!-- button -->
                    <div class="col">
                      <button class="btn black-pill-btn black-btn text-capitalize d-flex align-items-center"
                        type="submit">Read more <i class="ms-2 pi pi-angle-right"></i>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                  <img src="/assets/cars1.jpg" class="d-block w-100 car-shadow " alt="...">
                </div>
                <div class="col-md-6 px-md-5">
                  <div class="d-flex flex-column car-text">
                    <!-- tag -->
                    <div class="col">
                      <div class="text-uppercase g-subtext fw-bolder fs-6">latest post</div>
                    </div>
                    <!-- body -->
                    <div class="col">
                      <div class="d-flex flex-column car-inner-txt">
                        <div class="text-black text-uppercase fw-bold fs-1">CPA WRITERS WANTED</div>
                        <div class="text-muted fs-6">CPA Writers Wanted TheGAAP.net is looking for volunteer writers to
                          contribute to our dally updates of accounting information trends and changes in accounting.
                          Earn CPD..</div>
                        <div class="fw-medium fs-6 g-subtext">March 4, 2024 / Accounting</div>
                      </div>
                    </div>
                    <!-- button -->
                    <div class="col">
                      <button class="btn black-pill-btn black-btn text-capitalize d-flex align-items-center"
                        type="submit">Read more <i class="ms-2 pi pi-angle-right"></i>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                  <img src="/assets/cars.jpg" class="d-block w-100 car-shadow " alt="...">
                </div>
                <div class="col-md-6 px-md-5 ">
                  <div class="d-flex flex-column car-text">
                    <!-- tag -->
                    <div class="col">
                      <div class="text-uppercase g-subtext fw-bolder fs-6">latest post</div>
                    </div>
                    <!-- body -->
                    <div class="col">
                      <div class="d-flex flex-column car-inner-txt">
                        <div class="text-black text-uppercase fw-bold fs-1">CPA WRITERS WANTED</div>
                        <div class="text-muted fs-6">CPA Writers Wanted TheGAAP.net is looking for volunteer writers to
                          contribute to our dally updates of accounting information trends and changes in accounting.
                          Earn CPD..</div>
                        <div class="fw-medium fs-6 g-subtext">March 4, 2024 / Accounting</div>
                      </div>
                    </div>
                    <!-- button -->
                    <div class="col">
                      <button class="btn black-pill-btn black-btn text-capitalize d-flex align-items-center"
                        type="submit">Read more <i class="ms-2 pi pi-angle-right"></i>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- indicators -->
          <div class="m-0 carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
        </div>
        <!-- b -->
        <button class="carousel-control-next col-2 ms-5 d-none d-md-block rounded-circle" type="button"
          data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>
  </div>
</section>
<!-- end of carousel section -->

<!-- workshop -->
<section class="workshop-gradient d-md-block d-none">
  <div class="container px-5 pt-5 mx-auto mt-5">
    <div class="row">
      <div class="workshop-bg">
        <!-- <img src="/assets/workshop.png" alt=""> -->
        <div class="p-5 mx-5 my-2 flex-column d-flex align-items-center">
          <div class="text-white workshop-heading poppins fs-1">
            <i class="pi pi-users" style="font-size: 2.5rem"></i> Webinars
          </div>
          <!-- sub text -->
          <div class="mb-3 text-white workship-txt fs-5">
            Stay informed with the latest webinar updates from TheGAAP.net directly to your inbox!
          </div>
          <!-- email -->
          <div class="row align-items-center">
            <div class="col-md-8 col-6 workshop-input">
              <p-floatLabel>
                <input pInputText id="Email" />
                <label for="username" class="d-flex align-items-center">
                  <i class="pi pi-envelope me-2"></i>Email
                </label>
              </p-floatLabel>
            </div>
            <div class="col-md-4 col-6 d-flex justify-content-center">
              <div class="text-center col-6 ps-0">
                <button class="btn black-pill-btn black-btn d-flex align-items-center" type="submit">
                  <i class="pi pi-check me-2"></i>Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
