<nav class="navbar navbar-expand-lg bg-gaap poppins sticky-top">
  <!-- logo -->
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo/TheGAAP Logo.svg" alt="LOGO" class="">
    </a>
    <!-- button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="mb-2 navbar-nav me-auto mb-lg-0">
        <!-- 1 -->
        <li class="px-3 nav-item">
          <a class="px-0 nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <!-- 2 -->
        <li class="px-3 nav-item dropdown">
          <a class="px-0 nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- 3 -->
        <li class="px-3 nav-item dropdown">
          <a class="px-0 nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Professional Development
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- 4 -->
        <li class="px-3 nav-item dropdown">
          <a class="px-0 nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- 5 -->
        <li class="px-3 nav-item dropdown">
          <a class="px-0 nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Company
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">About</a></li>
            <li><a class="dropdown-item" href="#">Contact</a></li>
          </ul>
        </li>

      </ul>
      <!-- form -->
      <form class="d-flex" role="search">
        <div class="row">
          <div class="text-center col-6 pe-0">
            <button class="btn registerbtn" type="submit">Login</button>
          </div>
          <div class="text-center col-6 ps-0 ">
            <button class="btn registerbtn register" type="submit">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
