<nav class="navbar navbar-expand-lg bg-gaap poppins sticky-top">
  <!-- logo -->
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo/TheGAAP Logo.svg" alt="LOGO" class="">
    </a>
    <!-- button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="mb-2 navbar-nav me-auto mb-lg-0">
        <!-- home -->
        <li class="px-3 nav-item">
          <a class="nav-link" aria-current="page" routerLink="dashboard/home" routerLinkActive="active-link">Home</a>
        </li>
        <!-- resources -->
        <li class="px-3 nav-item dropdown" routerLinkActive="active-link" #rla="routerLinkActive">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="rla.isActive">
            Resources
          </a>
          <!-- dropdown -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="resources/business-transition" routerLinkActive="active-link active-dropdown" [routerLinkActiveOptions]="{ exact: true }">Business Transition</a></li>
            <li><a class="dropdown-item" routerLink="resources/performance-management" routerLinkActive="active-link active-dropdown" [routerLinkActiveOptions]="{ exact: true }">Performance MGT</a></li>
            <li><a class="dropdown-item" href="#">IFRS</a></li>
            
          </ul>
        </li>
        <!-- Professional Development -->
        <li class="px-3 nav-item dropdown" routerLinkActive="active-link" #rla="routerLinkActive">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="rla.isActive">
            Professional Development
          </a>
          <!-- dropdown -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Workshops</a></li>
            <li><a class="dropdown-item" href="#">Free Webinars On Demand</a></li>
            <li><a class="dropdown-item" href="#">Webinars on Demand</a></li>
            <li><a class="dropdown-item" href="#">Books</a></li>
            <li><a class="dropdown-item" href="#">ASPE</a></li>
            <li><a class="dropdown-item" href="#">Petryk’s Picks</a></li>
          </ul>
        </li>
        <!-- services -->
        <li class="px-3 nav-item dropdown" routerLinkActive="active-link" #rla="routerLinkActive">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="rla.isActive">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Resume Service</a></li>            
          </ul>
        </li>
        <!-- company -->
        <li class="px-3 nav-item dropdown" routerLinkActive="active-link" #rla="routerLinkActive">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="rla.isActive">
            Company
          </a>
          <!-- dropdown -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="company/about" routerLinkActive="active-link active-dropdown" [routerLinkActiveOptions]="{ exact: true }">About</a></li>
            <li><a class="dropdown-item" routerLink="company/contact" routerLinkActive="active-link active-dropdown" [routerLinkActiveOptions]="{ exact: true }">Contact</a></li>
          </ul>
        </li>
      </ul>
      <!-- form -->
      <form class="d-flex" role="search">
        <div class="row">
          <ng-container *ngIf="isLoggedIn$ | async; else loggedOut">
            <div class="text-center col-6 pe-0">
              <button routerLink="/blogs" class="btn registerbtn" type="button">Blogs</button>
            </div>
            <div class="text-center col-6 ps-0">
              <button (click)="logout()" class="btn black-pill-btn black-btn" type="button">Logout</button>
            </div>
          </ng-container>
          <ng-template #loggedOut>
            <div class="text-center col-6 pe-0">
              <button routerLink="/login" class="btn registerbtn" type="button">Login</button>
            </div>
            <div class="text-center col-6 ps-0">
              <button routerLink="/register" class="btn black-pill-btn black-btn" type="button">Register</button>
            </div>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</nav>
