.nav-link,.registerbtn {
  font-size: 16px;
  color: #999898;
  letter-spacing: 0.75px;
}

.active{
  font-weight: 600;
  border-bottom: 2px solid #1f2937;
  padding-bottom: 0;
}
.register{
background-color: #1f2937;
color: #fcfbfb;
border-radius: 2em;
}